<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>

<%= form_for @photo,url:photos_path do |f| %>

		<%= f.attachment_field :image %>
	    <%= f.submit "新規登録", class:"btn btn-primary"%>
    <% end %>